* {
    box-sizing: border-box;
}

footer {
    align-self: flex-end;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
    background: #27292c;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    margin: 0;
}

.category-tag {
    font-size: small;
}

.meal-category-set {
    width: 60%;
    margin-bottom: 1em;
}

.meal-category-option {
    display: flex;
    align-items: center;
    padding: 0;
}

.meal-category-option > label {
    margin-left: 0.5em;
}

.meal-category-option > input {
    margin: 0;
}

.edit-recipe-form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #878652;
}

.ingredient-input-group {
    margin: 10px;
    display: flex;
}

input {
    border-radius: 100px;
    border: 1px solid black;
    margin-block: 10px;
    display: block;
    height: 2rem;
    text-indent: 10px;
}

[type="submit"] {
    padding: 10px;
}


.header {
    margin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: -5%;
    height: 80px;
    box-shadow: 0px 1px 2px 0px #0000000F;
    box-shadow: 0px 1px 3px 0px #0000001A;
}

.header > img {
    width: 45px;
    height: 55px;
}

.header > h1 {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}


.header > section {
    display: block;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.add-ingredient-form > input {
    padding: 9px 13px;
    border-radius: 6px;
    border-width: 1px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    padding: 9px 17px;
    background: lightblue;
    border: none;
    border-radius: 6px;
}

.recipe-page {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-left: 15px;
}

.recipe-list {
    list-style: none;
    padding-left: 0;
}

.recipe-list-item {
    display: flex;
    align-items: center;
}

.recipe-list-item:hover {
    font-weight: bold;
}

.recipe-list-item > button {
    margin-right: 10px;
}

.leftovers-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meal-plan-table {
    border-collapse: collapse;
    border: 1px solid white;
}

.meal-plan-table td, 
.meal-plan-table th {
    border: 1px solid white;
    padding: 1rem;
}

.hovered-droppable {
    background-color: lightblue;
    color: darkblue
}

.drag-overlay {
    z-index: 9999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}